const avionRow = ({destination, carrier, flight, gate, time, status})=> `
                    <div class="table-row items">
                        <div class="text">${destination}</div>
                        <div class="text">${carrier}</div>
                        <div class="text">${flight}</div>
                        <div class="text">${gate}</div>
                        <div class="text">${time}</div>
                        <div class="text flight-status">${status}</div>
                    </div>`;